---
---

$primary: #0e819b;
$content-width: 1400px;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

a {
    color: $primary;
    text-decoration: none;
    transition: all .2s;
    &:hover {
        color: inherit;
    }
}

* {
    font-family: Noto Sans;
}

p {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
    font-weight: 200;
    color: $primary;
    margin: 2rem 0 1rem 0rem;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

pre.highlight {
    padding: 1rem;
    background-color: #eeeeee;
    border-left: solid 4px $primary;
    font-size: 0.8rem;
    box-shadow: inset 0 0 7px rgba(0,0,0,.14);
}

code.highlighter-rouge {
    background-color: #eeeeee;
    padding: 0 0.2rem;
    font-size: 0.9rem;
    font-weight: 400;
}

body {
    background-color: #eeeeee;
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    flex-direction: column;
}

header {
    height: 64px;
    background-color: $primary;
    .title {
        color: #FFFFFF;
        font-size: 20px;
        text-decoration: none;
        line-height: 64px;
        &:hover {
            text-decoration: none;
        }
    }
}


#site {
    flex: 1;
}

footer {
    padding: 2rem;
    text-align: center;
}

#sidebar {
    text-align: left;
    position: fixed;
    padding-top: 80px;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    .header {
        text-transform: uppercase;
        font-weight: semi-bold;
    }
    & > .navigation {
        padding-left: 0;
        display: block !important;
    }
    .navigation {
        list-style: none;
        display: none;
        a {
            color: inherit;
            &:hover {
                color: $primary;
            }
        }
        li {
            width: 100%;
            line-height: 2rem;
        }
        .item {
            padding-left: 1rem;
            border-left: 2px solid $primary;
            font-size: 0.8rem;
        }
        .active {
            & > li {
                font-weight: 700;
                color: $primary;
            }
            & > .navigation {
                display: block;
            }
        }
    }
}

.breadcrumb {
    list-style: none;
    height: 1rem;
    padding: 0;
    li {
        float: left;
        text-transform: uppercase;
        font-size: 0.8rem;
        &.active a {
            color: $primary;
            pointer-events: none;
            cursor: default;
        }
        a {
            color: #555555;
            &:hover {
                color: #000000;
            }
        }
        a:after {
            content: " / ";
            display: inline;
            padding: 0 0.4rem;
            color: #000000;
            font-weight: 700;
        }
        &:last-child a:after {
            display: none;
        }
    }
}

#page-content {
    background-color: #ffffff;
    padding: 1.5rem;
    @extend .drop-shadow;
}

.full-height {
    height: 100%;
}

.drop-shadow {
    box-shadow: 0 0 4px rgba(0,0,0,.24),0 3px 8px rgba(0,0,0,.05);
}

.content-width {
    max-width: $content-width;
    width: 100%;
    margin: auto;
}