<ul class="navigation">
    <li class="header"><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for p in site.categories[attr] %}
            {% if forloop.first %}
                <li class="header">{{ label }}</li>
            {% endif %}
                <a {% if p.url == page.url %}class="active"{% endif %} data-order="{{ p.order }}" href="{{ site.baseurl }}{{ p.url }}"><li class="item">{{ p.title }}</li></a>
        {% endfor %}
    {% endfor %}
</ul>
