<ul class="navigation">
    {% if include.context == "/" %}
        <div class="{% if page.url == '/' %}active{% endif %}">
            <a class="{% if page.url == '/' %}active{% endif %}" href="/">
                <li class="item ">
                    Home
                </li>
            </a>
        </div>
    {% endif %}

    {% for col in site.collections %}
        {% for entry in col.docs %}
            {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
            {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: " " | remove: "/ " | rstrip | append: "/" }}{% endcapture %}

            {% if current == include.context %}
                <div class="{% if page.url contains entry.url %}active{% endif %}">
                    <a class="{% if page.url == entry.url %}active{% endif %}" href="{{ site.baseurl }}{{ entry.url }}">
                        <li class="item ">
                            {{ entry.title }}
                        </li>
                    </a>
                    {% include navigation.html context=entry.url %}
                </div>
            {% endif %}

        {% endfor %}
    {% endfor %}
</ul>
