<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
        <meta name="description" content="{{ site.subtitle }}">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

        <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/flexgrid.css">
        <!--<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">-->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </head>
    <body>

        <header class="drop-shadow">
            <div class="content-width">
                {% include header.html %}
            </div>
        </header>
        <div id="site" class="content-width">
            <div class="row full-height">
                <div id="sidebar" class="col-md-3">

                    {% include navigation.html %}
                </div>
                <div class="col-md-3"> </div>
                <div class="col-md-8">
                    <div id="page-content" class="drop-shadow full-height">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="content-width">
                {% include footer.html %}
            </div>
        </footer>

        </div>
        <script>
         function orderNav() {
             var list,
                 section,
                 header,
                 sections = [],
                 lists = {},
                 headers = {};

             var navUl = document.querySelectorAll('#navigation ul')[0],
                 navLis = document.querySelectorAll('#navigation ul li');

             if (!navUl) return;

             for (var i = 0; i < navLis.length; i++) {
                 var order, li = navLis[i];

                 if (li.classList.contains('nav-header')) {
                     section = li.textContent || li.innerText;
                     sections.push(section);
                     headers[section] = li;
                     continue;
                 }

                 if (!lists[section]) {
                     lists[section] = [];
                 }

                 order = parseFloat(li.getAttribute('data-order'))
                 lists[section].push([order, li]);
             }

             for (var i = 0; i < sections.length; i++) {
                 section = sections[i];
                 list = lists[section].sort(function(a, b) {
                     return a[0] - b[0];
                 });
             }
             for (var j = 0; j < list.length; j++) {
                 navUl.appendChild(list[j][1]);
             }
         }
         }

         if (document.querySelectorAll) orderNav();
        </script>
        {% if site.google_analytics_id != "" %}
        {% include google_analytics.html %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        {% endif %}
    </body>
</html>
